:root {
  --font-family: "Inter", sans-serif;
  --content-width: 1430px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --red-color: #D0016E;
  --light-grey-color:#969696;
  --gray-color:#F5F5F5;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.social {
  position: absolute;
  top: 80px;
  left: 50px;
}
.social__item:not(:last-child) {
  margin-bottom: 10px;
}

.header {
  background-color: #171717;
  color: #fff;
  padding: 30px 10px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #D0016E;
  font-family: Inter;
  font-weight: 600;
  font-size: 30px;
}
.header__phone {
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #D0016E;
}

@media (max-width: 1440px) {
  .header__container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__logo {
    margin-right: 40px;
  }
}
@media (max-width: 992px) {
  .header__logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  margin-right: 80px;
}
.nav__link {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--red-color);
  }
}

@media (max-width: 1440px) {
  .nav__item {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }
}
.swiper-pagination-bullet {
  background: var(--red-color);
}

.hero {
  position: relative;
  background-color: #171717;
  color: #fff;
}
.hero__title {
  margin: 0;
  padding-top: 150px;
  font-family: Inter;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}
.hero__title span {
  color: var(--red-color);
}
.hero__subtitle {
  display: block;
  text-align: center;
  color: var(--red-color);
  margin: 0 auto;
  max-width: 700px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}
.hero__subtitle span {
  color: #fff;
}
.hero__descr {
  margin: 0 auto;
  max-width: 1100px;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  padding-bottom: 40px;
}
.hero__btn {
  padding-bottom: 100px;
}
.hero__link {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid #fff;
  padding: 20px 25px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #171717;
}
.hero__link:hover {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-color: #D0016E;
}

@media (max-width: 992px) {
  .hero__title {
    padding-top: 70px;
    font-size: 50px;
  }
  .hero__subtitle {
    font-size: 24px;
  }
  .hero__descr {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .hero__social {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    padding-top: 50px;
    font-size: 40px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
  .hero__descr {
    font-size: 16px;
    line-height: 30px;
  }
}
.team {
  background-color: var(gray-color);
}
.team__list {
  margin: 0 auto;
  max-width: 900px;
}
.team__title {
  margin: 0;
  padding: 40px 0px;
  font-size: 40px;
  text-align: center;
}
.team__name {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}
.team__name span {
  display: block;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.team__img {
  border-radius: 10px;
  -webkit-box-shadow: 19px 20px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 19px 20px 8px 0px rgba(34, 60, 80, 0.2);
  margin-right: 40px;
  width: 300px;
  height: 400px;
}

@media (max-width: 992px) {
  .team__title {
    font-size: 30px;
  }
  .team__name {
    font-size: 16px;
  }
  .team__name span {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .team__list {
    max-width: 400px;
  }
  .team__img {
    margin: 0;
    width: 280px;
    height: 340px;
    margin-bottom: 60px;
  }
  .team__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.about {
  background-color: var(--gray-color);
}
.about__list {
  padding-top: 50px;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  padding-bottom: 80px;
}
.about__text {
  width: 50%;
}
.about__title {
  margin: 0;
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about__descr {
  margin: 0;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--light-grey-color);
  margin-bottom: 10px;
}
.about__item-serice {
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: var(--light-grey-color);
}
.about__img-border {
  position: relative;
  margin-left: 100px;
  border-radius: 20px;
  width: 250px;
  height: 320px;
  border: 2px solid var(--red-color);
  margin-bottom: 60px;
}
.about__img-border-black {
  border: 2px solid var(--light-grey-color);
}
.about__img {
  position: absolute;
  right: 30px;
  top: 20px;
  border-radius: 20px;
  width: 240px;
  height: 320px;
}

@media (max-width: 992px) {
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }
  .about__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .about__img-border {
    margin: 0;
  }
  .about__title {
    text-align: center;
    font-size: 30px;
  }
  .about__text {
    width: 100%;
  }
  .about__descr {
    font-size: 16px;
    line-height: 28px;
  }
  .about__item-serice {
    font-size: 16px;
  }
}
.services {
  background-color: var(--gray-color);
}
.services__title {
  margin: 0;
  padding: 50px 0px 80px 0px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.services__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid var(--red-color);
  background-color: #000;
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  width: 60px;
  height: 60px;
}
.services__number-red {
  color: var(--red-color);
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services__text {
  margin: 0;
  max-width: 200px;
  text-align: center;
  font-size: 16px;
  color: var(--light-grey-color);
}

@media (max-width: 992px) {
  .services__title {
    padding: 30px 0px 50px 0px;
    font-family: Inter;
    font-size: 30px;
  }
  .services__list {
    display: block;
  }
}
.photo {
  background-color: #171717;
  position: relative;
}
.photo__list {
  margin: 0 auto;
  padding: 120px 0px;
  max-width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 40px;
}
.photo__img {
  width: 300px;
  height: 300px;
}
.photo__icon {
  display: block;
  fill: aqua;
}

@media (max-width: 1440px) {
  .photo__img {
    width: 250px;
    height: 250px;
  }
  .photo__list {
    padding-top: 40px;
  }
  .photo__sotial {
    position: static;
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
  }
}
.feedback {
  background-color: var(--gray-color);
}
.feedback__container {
  background-image: url("../img/bg.svg");
  background-size: cover;
  background-position: center bottom -100px;
  background-repeat: no-repeat;
}
.feedback__border {
  margin: 0 auto;
  border: none;
}
.feedback__swiper {
  position: relative;
  left: 10px;
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  height: 500px;
}
.feedback__img {
  width: 300px;
  height: 450px;
}
.feedback__title {
  margin: 0;
  padding-top: 20px;
  text-align: center;
}
.feedback__text {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: var(--red-color);
}

.price {
  background-color: #171717;
}
.price__title {
  margin: 0;
  padding: 80px 0px 20px 0px;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: var(--red-color);
}
.price__subtitle {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.price__descr {
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
}
.price__text-bottom {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  padding-bottom: 60px;
}
.price__vidio {
  display: block;
  position: static;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media (max-width: 992px) {
  .price__title {
    font-size: 30px;
  }
  .price__descr {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .price__vidio {
    width: 500px;
    height: 350px;
  }
  .price__text-bottom {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .price__vidio {
    width: 300px;
    height: 300px;
  }
}
.accordion__list {
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 80px;
}

.accordion {
  border-bottom: 1px solid #fff;
}
.accordion__control {
  text-align: left;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  color: #242424;
}
.accordion__content {
  font-weight: 400;
  font-size: 20px;
  color: var(--light-color);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0px 10px;
  will-change: max-height;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-bottom: 10px;
}
.accordion__title {
  font-size: 35px;
  font-weight: 700;
  color: var(--red-color);
  text-decoration: underline;
}
.accordion__text {
  font-family: Inter;
  font-weight: 500;
}
.accordion__text-bold {
  font-size: 24px;
  font-weight: 700;
}
.accordion__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../img/cloze.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.accordion:not(:first-child) {
  margin-top: -1px;
}
.accordion__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.open .accordion__icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.open .accordion__content {
  opacity: 1;
  padding-bottom: 18px;
}

@media (max-width: 992px) {
  .accordion__title {
    font-size: 20px;
  }
  .accordion__content {
    font-size: 16px;
  }
}
.contacts {
  background-color: var(--gray-color);
}
.contacts__title {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding: 40px 0px;
}
.contacts__inner {
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding-bottom: 80px;
}
.contacts__address {
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}
.contacts__address span {
  font-weight: 700;
}
.contacts__phone {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  color: #000;
}
.contacts__phone span {
  font-weight: 700;
}
.contacts__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contacts__sotial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media (max-width: 1025px) {
  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .contacts__title {
    font-size: 30px;
  }
  .contacts__address {
    font-size: 16px;
  }
  .contacts__phone {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .contacts__map {
    width: 320px;
    height: 300px;
  }
}
.footer {
  background-color: #171717;
  padding: 40px 0px;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}
.footer__item:not(:last-child) {
  margin-right: 30px;
}
.footer__text {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.footer__text span {
  color: var(--red-color);
}
/*# sourceMappingURL=main.css.map */